<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Overview &#8964;</a>
		<ul class="dropdown-menu">
			<li><a href="chapter0.html">Introduction</a></li>
			<li><a href="chapter1.html">Scope</a></li>
			<li><a href="chapter2.html">Normative References</a></li>
			<li><a href="chapter3.html">Terms and Definitions</a></li>
			<li><a href="chapter4.html">Overview and Definition of the Functional Model</a></li>
			<li><a href="chapter5.html">Anticipated Uses</a></li>
			<li><a href="chapter6.html">Conformance Clause</a></li>
			<li><a href="chapter7.html">EHR System Conformance Claim via Self-Attestion</a></li>
			<li><a href="chapter8.html">Glossary</a></li>
			<li><a href="chapter9.html">Glossary Supplement: Record Lifecycle Events and Descriptions</a></li>
		</ul>
	</li>
  <li class="dropdown">
		<a href="#" data-toggle="dropdown" class="dropdown-toggle">Annex &#8964;</a>
		<ul class="dropdown-menu">
			<li><a href="annexa.html">Function List</a></li>
			<li><a href="annexb.html">Glossary of Terms</a></li>
			<li><a href="annexc.html">Background</a></li>
			<li><a href="annexd.html">Bibliography</a></li>
		</ul>
	</li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="downloads.html">Downloads</a></li>
</ul>      
